# Project information
site_name: Foxy Docs
site_description: Foxy Documentation
site_author: felixbrucker
site_url: https://docs.foxypool.io

# Repository
repo_name: foxy-docs
repo_url: https://github.com/felixbrucker/foxy-docs

# Theme
theme:
  name: 'material'
  favicon: assets/img/favicon.ico
  logo: assets/img/fox.png
  features:
    - navigation.tabs
    - navigation.top
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  icon:
    repo: fontawesome/brands/github-alt

# Options
extra:
  manifest: 'manifest.webmanifest'
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/felixbrucker
    - icon: fontawesome/brands/discord
      link: https://discord.gg/gNHhn9y

# Page tree
nav:
  - General:
      - Home: index.md
      - Installing Nodejs: general/installing-nodejs.md
      - Donate: general/donate.md
  - Proof of Capacity:
      - Getting Started: proof-of-capacity/getting-started.md
      - Glossary: proof-of-capacity/glossary.md
      - Foxy-Pool:
          - Home: proof-of-capacity/foxy-pool/index.md
          - Mining: proof-of-capacity/foxy-pool/mining.md
          - Binding:
              - BHD: proof-of-capacity/foxy-pool/binding/bhd.md
              - BURST: proof-of-capacity/foxy-pool/binding/burst.md
              - HDD: proof-of-capacity/foxy-pool/binding/hdd.md
              - LHD: proof-of-capacity/foxy-pool/binding/lhd.md
              - XHD: proof-of-capacity/foxy-pool/binding/xhd.md
          - EC:  proof-of-capacity/foxy-pool/ec.md
          - Pledging:
              - Overview: proof-of-capacity/foxy-pool/pledging.md
              - BHD: proof-of-capacity/foxy-pool/pledging/bhd.md
              - BURST: proof-of-capacity/foxy-pool/pledging/burst.md
              - HDD: proof-of-capacity/foxy-pool/pledging/hdd.md
              - LHD: proof-of-capacity/foxy-pool/pledging/lhd.md
              - XHD: proof-of-capacity/foxy-pool/pledging/xhd.md
          - Settings: proof-of-capacity/foxy-pool/settings.md
          - Daily Rewards: proof-of-capacity/foxy-pool/daily-rewards.md
          - Distribution Ratio: proof-of-capacity/foxy-pool/distribution-ratio.md
          - API:
              - Overview: proof-of-capacity/foxy-pool/api/overview.md
              - Web-UI API: proof-of-capacity/foxy-pool/api/web-ui-api.md
              - Mining API: proof-of-capacity/foxy-pool/api/mining-api.md
      - Foxy-Miner:
          - Home: proof-of-capacity/foxy-miner/index.md
          - Installing: proof-of-capacity/foxy-miner/installing.md
          - Configuration: proof-of-capacity/foxy-miner/configuration.md
      - Foxy-Proxy:
          - Home: proof-of-capacity/foxy-proxy/index.md
          - Installing: proof-of-capacity/foxy-proxy/installing.md
          - Configuration: proof-of-capacity/foxy-proxy/configuration.md
      - Pledge-Agent:
          - Home: proof-of-capacity/pledge-agent/index.md
          - Supported coins: proof-of-capacity/pledge-agent/supported-coins.md
          - Installing: proof-of-capacity/pledge-agent/installing.md
          - Configuration: proof-of-capacity/pledge-agent/configuration.md
      - Configuring Scavenger: proof-of-capacity/configuring-scavenger.md
  - Proof of Spacetime:
      - Chia-Dashboard-Satellite:
        - Home: proof-of-spacetime/chia-dashboard-satellite/index.md
        - Installing: proof-of-spacetime/chia-dashboard-satellite/installing.md
        - Configuration: proof-of-spacetime/chia-dashboard-satellite/configuration.md
        - API: proof-of-spacetime/chia-dashboard-satellite/api.md

# Extensions
markdown_extensions:
  - meta
  - attr_list
  - footnotes
  - admonition
  - def_list
  - codehilite:
      guess_lang: false
  - toc:
      permalink: true
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.tabbed
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

plugins:
  - search
  - minify:
      minify_html: true
  - redirects:
      redirect_maps:
        'general/getting-started.md': 'proof-of-capacity/getting-started.md'
        'general/glossary.md': 'proof-of-capacity/glossary.md'
        'foxy-pool/index.md': 'proof-of-capacity/foxy-pool/index.md'
        'foxy-pool/mining.md': 'proof-of-capacity/foxy-pool/mining.md'
        'foxy-pool/binding/bhd.md': 'proof-of-capacity/foxy-pool/binding/bhd.md'
        'foxy-pool/binding/burst.md': 'proof-of-capacity/foxy-pool/binding/burst.md'
        'foxy-pool/binding/hdd.md': 'proof-of-capacity/foxy-pool/binding/hdd.md'
        'foxy-pool/binding/lhd.md': 'proof-of-capacity/foxy-pool/binding/lhd.md'
        'foxy-pool/binding/xhd.md': 'proof-of-capacity/foxy-pool/binding/xhd.md'
        'foxy-pool/ec.md': 'proof-of-capacity/foxy-pool/ec.md'
        'foxy-pool/pledging.md': 'proof-of-capacity/foxy-pool/pledging.md'
        'foxy-pool/pledging/bhd.md': 'proof-of-capacity/foxy-pool/pledging/bhd.md'
        'foxy-pool/pledging/burst.md': 'proof-of-capacity/foxy-pool/pledging/burst.md'
        'foxy-pool/pledging/hdd.md': 'proof-of-capacity/foxy-pool/pledging/hdd.md'
        'foxy-pool/pledging/lhd.md': 'proof-of-capacity/foxy-pool/pledging/lhd.md'
        'foxy-pool/pledging/xhd.md': 'proof-of-capacity/foxy-pool/pledging/xhd.md'
        'foxy-pool/settings.md': 'proof-of-capacity/foxy-pool/settings.md'
        'foxy-pool/daily-rewards.md': 'proof-of-capacity/foxy-pool/daily-rewards.md'
        'foxy-pool/distribution-ratio.md': 'proof-of-capacity/foxy-pool/distribution-ratio.md'
        'foxy-pool/api/overview.md': 'proof-of-capacity/foxy-pool/api/overview.md'
        'foxy-pool/api/web-ui-api.md': 'proof-of-capacity/foxy-pool/api/web-ui-api.md'
        'foxy-pool/api/mining-api.md': 'proof-of-capacity/foxy-pool/api/mining-api.md'
        'foxy-miner/index.md': 'proof-of-capacity/foxy-miner/index.md'
        'foxy-miner/installing.md': 'proof-of-capacity/foxy-miner/installing.md'
        'foxy-miner/configuration.md': 'proof-of-capacity/foxy-miner/configuration.md'
        'foxy-proxy/index.md': 'proof-of-capacity/foxy-proxy/index.md'
        'foxy-proxy/installing.md': 'proof-of-capacity/foxy-proxy/installing.md'
        'foxy-proxy/configuration.md': 'proof-of-capacity/foxy-proxy/configuration.md'
        'pledge-agent/index.md': 'proof-of-capacity/pledge-agent/index.md'
        'pledge-agent/supported-coins.md': 'proof-of-capacity/pledge-agent/supported-coins.md'
        'pledge-agent/installing.md': 'proof-of-capacity/pledge-agent/installing.md'
        'pledge-agent/configuration.md': 'proof-of-capacity/pledge-agent/configuration.md'
        'general/configuring-scavenger.md': 'proof-of-capacity/configuring-scavenger.md'
        'chia-dashboard-satellite/index.md': 'proof-of-spacetime/chia-dashboard-satellite/index.md'
        'chia-dashboard-satellite/installing.md': 'proof-of-spacetime/chia-dashboard-satellite/installing.md'
        'chia-dashboard-satellite/configuration.md': 'proof-of-spacetime/chia-dashboard-satellite/configuration.md'
        'chia-dashboard-satellite/api.md': 'proof-of-spacetime/chia-dashboard-satellite/api.md'

extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML

